## Pliki csv

In [1]:
# df = pd.read_csv('myCsvFile.csv')

In [2]:
# df.to_csv('myNewCsvFile.csv', index=False)

## Praca z plikami Excel

In [3]:
import pandas as pd
# df = pd.read_excel('myExcelFile.xlsx', sheet_name='my_data')

In [4]:
# df.to_excel('myNewExcelFile.xlsx', sheet_name='my_new_data')

In [5]:
# writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

In [6]:
# df.to_excel(writer, sheet_name='my_dfs')
# df.to_excel(writer, sheet_name='my_dfs', startcol=6, startrow=5, index=False)

In [7]:
# writer.save()

In [8]:
# writer = pd.ExcelWriter('many_sheets.xlsx', engine='xlsxwriter')

# df.to_excel(writer, sheet_name='my_df1')
# df.to_excel(writer, sheet_name='my_df2')

# writer.save()

In [9]:
# writer = pd.ExcelWriter('add_chart.xlsx', engine='xlsxwriter')
# df.to_excel(writer, sheet_name='my_chart')

In [10]:
# workbook = writer.book
# worksheet = writer.sheets['my_chart']

In [11]:
# chart = workbook.add_chart({'type':'line'})

In [1]:
# def grab_series(df, sheet_name, colname, startcol=0, startrow=0):

#    col_index = df.columns.tolist().index(colname)
#    col_letter = chr(ord('@')+(col_index+2+startcol))
#    first_row = startrow + 2
#    last_row = startrow + 1 + len(df)
#    return f"='{sheet_name}'!{col_letter}{first_row}:{col_letter}{last_row}"

In [2]:
# chart.add_series({'values':grab_series(df,'my_chart','B')})

In [3]:
# chart.set_x_axis({
#    'name': 'x^2',
#    'name_font': {'size': 14, 'bold': True},
#    'num_font':  {'italic': True },
# })

In [4]:
# chart.set_legend({'none': True})

In [5]:
# worksheet.insert_chart('F2', chart)

In [6]:
# writer.save()
# workbook.close()

In [7]:
# writer = pd.ExcelWriter('conditional_format.xlsx', engine='xlsxwriter')

# df.to_excel(writer, sheet_name='my_conditional')

# workbook = writer.book
# worksheet = writer.sheets['my_conditional']

In [8]:
# format1 = workbook.add_format({'bg_color':   '#FFC7CE',
#                               'font_color': '#9C0006'})

In [9]:
# worksheet.conditional_format("D2:D12",{'type': 'cell',
#                                      'criteria':'>=',
#                                      'value':300,
#                                      'format':format1})

In [10]:
# worksheet.write_string('A16','Podaj liczbę całkowitą większą od 0:')

In [11]:
# worksheet.data_validation('B16', {
#    'validate':'integer',
#    'criteria':'>',
#    'value':0
#})

In [12]:
# worksheet.set_column('A:A',35)

In [13]:
# writer.save()
# workbook.close()

## Tabele HTML

In [15]:
import pandas as pd
data = pd.read_html('https://pl.wikipedia.org/wiki/Miasta_w_Polsce', header=0)

In [16]:
type(data)

list

In [17]:
data[0]

,Lp.,Miasto,Województwo,Liczba mieszkańców,Gęstość zaludnienia [osoby/km²]
0,1.0,Warszawa,mazowieckie,1 862 402,3601
1,2.0,Kraków,małopolskie,807 644,2471
2,3.0,Wrocław,dolnośląskie,673 531,2300
3,4.0,Łódź,łódzkie,648 711,2212
4,5.0,Poznań,wielkopolskie,536 818,2050
5,6.0,Gdańsk,pomorskie,487 834,714
6,7.0,Szczecin,zachodniopomorskie,387 700,1290
7,8.0,Lublin,lubelskie,328 868,2230
8,9.0,Bydgoszcz,kujawsko-pomorskie,324 984,1847
9,10.0,Białystok,podlaskie,290 907,2848

In [18]:
data[1]

    Lp.        Miasto         Województwo Powierzchnia [ha]
0   1.0        Gdańsk           pomorskie            68 300
1   2.0      Warszawa         mazowieckie            51 720
2   3.0        Gdynia           pomorskie            39 151
3   4.0        Kraków         małopolskie            32 685
4   5.0      Szczecin  zachodniopomorskie            30 062
5   6.0          Łódź             łódzkie            29 325
6   7.0       Wrocław        dolnośląskie            29 280
7   8.0  Zielona Góra            lubuskie            27 536
8   9.0        Poznań       wielkopolskie            26 191
9  10.0   Świnoujście  zachodniopomorskie            20 207